.navbar.navbar-default{

	margin-bottom: 0;

	.navbar-brand{
		
		padding-top:3px;
		
	
	}
}


		.page-header{

			background-color:lighten($mainBg,10);
			margin:0;
			padding:0;
			height: 25px;
			line-height: 25px;
			color:$mainColor;

		}


